@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

h1.animated{ 
	font: bold 200% Consolas, Monaco, monospace;
	border-right: .1em solid white;
	padding-left: 140px;
	color: #efefef;
	width: 16.5em; 
	width: 13ch;
	margin: 1em 1em;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(13, end),
	           blink-caret .5s step-end infinite alternate;
} /*Credits to https://gist.github.com/CodeMyUI/43aea619d1a488027038f6c4a9aa6de0 */

html {
	font-family: 'PT Serif', serif;
}

body {
	background-color:#071e4c;
}

hr {
	height:1px;
	width:80%;
	background-color:#d1d1d1;
	z-index:0;
	padding: auto;
}

.navitem {
	padding: 8px 8px 8px 8px;
    background-color: #969696;
	display: inline-block;
	width: 120px;
	margin: 10px;
}

li a {
	text-decoration: none;
	color: #efefef;
}

li a:hover {
	text-decoration:underline;
}

.info {
	color:#efefef;	
	padding-left: 200px;
	font-size: 18px;
}

.cvinfo {
	color:#efefef;	
	padding: 0px 20px 0px 20px;
	font-size: 18px;
}

.title {
	color:#efefef;
	font-weight: bold;
	padding-left: 200px;
	font-size: 23px;
}

.projtitle {
	color:#efefef;
	font-weight: bold;
	text-align: center;
	font-size: 30px;
}

#main {
	color:#efefef;
	margin-bottom: 40px;
	margin-top: 40px;
	text-align: center;
	font-size: 55px;
}

#nav {
	list-style-type: none;
	color:#efefef;
	font-size: 22px;
	text-align: center;
}

#projects {
	list-style-type: none;
	text-align: center;
}

div.projects {
	column-count: 2;
	column-fill: balanced;
}

#page {
	text-decoration: underline; 
	font-weight: bold;
}

#link {
	text-decoration: none;
	color:#efefef;	
	text-shadow: 1px 1px 1px;
}

#link:hover {
	text-decoration: underline;
}

img.p1 {
	padding: 2px 2px 2px 2px;
	border: 2px solid black;
	background-color: white;
}

input {
	display: none;
	visibility: hidden;
}

label {
	display: block;
	font-weight: bold;
	padding: 5px 5px 5px 5px;
	text-align: center;
	color: #efefef;
}

label:hover {
	text-decoration: underline;
}

label::before {
	font-weight: bold;
	font-size: 15px;
	color: #000000;
	content: "+";
	vertical-align: text-top;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

#expand {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	size: 80%;
	color: #efefef;
	background: #969696;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
}

#toggle:checked ~ #expand {
	height: 730px;
}

#toggle:checked ~ label::before {
	content: "-";
}

#expand1 {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	size: 80%;
	color: #efefef;
	background: #969696;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
}

#toggle1:checked ~ #expand1 {
	height: 680px;
}

#toggle1:checked ~ label::before {
	content: "-";
}

#expand2 {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	size: 80%;
	color: #efefef;
	background: #969696;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
}

#toggle2:checked ~ #expand2 {
	height: 480px;
}

#toggle2:checked ~ label::before {
	content: "-";
}

#expand3 {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	size: 80%;
	color: #efefef;
	background: #969696;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
}

#toggle3:checked ~ #expand3 {
	height: 280px;
}

#toggle3:checked ~ label::before {
	content: "-";
}

#expand4 {
	height: 0px;
	overflow: hidden;
	transition: height 0.5s;
	size: 80%;
	color: #efefef;
	background: #969696;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC;
}

#toggle4:checked ~ #expand4 {
	height: 160px;
}

#toggle4:checked ~ label::before {
	content: "-";
}

#progressC {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressC:after {
    content: 'C';
    display: block;
    background: #efefef;
    width: 80%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressPyt {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressPyt:after {
    content: 'Python';
    display: block;
    background: #efefef;
    width: 80%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressLua {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressLua:after {
    content: 'Lua';
    display: block;
    background: #efefef;
    width: 80%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressJava {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressJava:after {
    content: 'Java';
    display: block;
    background: #efefef;
    width: 65%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressHTML {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressHTML:after {
    content: 'HTML';
    display: block;
    background: #efefef;
    width: 50%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressCSS {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressCSS:after {
    content: 'CSS';
    display: block;
    background: #efefef;
    width: 50%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressJavaS {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressJavaS:after {
    content: 'JavaScript';
    display: block;
    background: #efefef;
    width: 25%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressCSharp {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressCSharp:after {
    content: 'C#';
    display: block;
    background: #efefef;
    width: 25%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressXML {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressXML:after {
    content: 'XML';
    display: block;
    background: #efefef;
    width: 25%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressLinux {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressLinux:after {
    content: 'Linux OS';
    display: block;
    background: #efefef;
    width: 50%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressUnity {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressUnity:after {
    content: 'Unity';
    display: block;
    background: #efefef;
    width: 25%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressExcel {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressExcel:after {
    content: 'Excel';
    display: block;
    background: #efefef;
    width: 25%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressAndroidStudio {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressAndroidStudio:after {
    content: 'Android Studio';
    display: block;
    background: #efefef;
    width: 25%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressPortuguese {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressPortuguese:after {
    content: 'Portuguese';
    display: block;
    background: #efefef;
    width: 100%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressEnglish {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressEnglish:after {
    content: 'English';
    display: block;
    background: #efefef;
    width: 100%;
    height: 100%;
	text-align: center;
	color: #000000;
}

#progressSpanish {
    background: #000000;
    height: 20px;
    width: 450px;
    padding: 3px;
	margin: auto;
}

#progressSpanish:after {
    content: 'Spanish';
    display: block;
    background: #efefef;
    width: 80%;
    height: 100%;
	text-align: center;
	color: #000000;
}